
.header{
  max-width: 100%;
  box-shadow: 5px 5px 20px gray;
}

.nav-content{
  max-width: 100%;
}
.row div{
  display: inline-block;
}

.brand{
  color:white;
  margin-left: 2%;
  padding: 0.8em;
  width:23%;
}

.inp-container input{
  display: inline-block;
  width: 75%;
  height: 2.5em;
  border-radius: 0px;
}

.inp-container button{
  width: 10%;
  height: 2.5em;
  background-color: #dadada;
  border : none;
}

.dropdown{
  width: 15%;
  background-color: #dadada;
  font-weight: 400;
}
.select-btn{
  border : none;
  background-color: #dadada;
  height: 2.5em;
  font-weight: 600;
}

.login-container{
  color: white;
  width: 15%;
  text-align: right;
  margin: 1.7em 0.2em 0 0;
}

.login-container i,h5{
  display: inline-block;
}

.login-container a{
  text-decoration: none;
  color : white;
}

.login-container .user-icon{
  margin-right: 0.4em;
  padding: 0.2em;
  font-size: 1.2em;
}

.wishlist-container{
  width: 7%;
  color : white;
  margin-top: 1.7em;
}

.wishlist-container .list-icon{
  display: inline-block;
  margin-right: 0.4em;
  list-style-type: none;
  font-size: 1.2em;
}
